@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,500&family=Nunito:wght@300;400;800;900&family=Work+Sans:ital,wght@0,100;0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* HEADER */

.header {
  padding: 14px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  position: fixed;
  width: 100%;
  background: white;
}

.logo1 {
  width: 80px;
  height: 50px;
}

.logo2 {
  width: 80px;
  height: 50px;
}

.nav {
  display: flex;
  justify-content: center;
  width: 85%;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navbar a {
  color: black;
  font-weight: 600;
}

.navbar a:hover {
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

/* MAIN */

main {
  padding-top: 65px;
}

.section-white {
  background-color: white;
}

.line-white {
  background: #f7f7f7;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-white p {
  font-size: 19px;
}

.line-white a {
  font-size: 19px;
  color: black;
  border-bottom: 1px solid black;
}

/* PRIMERA SECCION */

.section-one {
  background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/boca_ar_mh_large_d_ddd937bd1c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.boca {
  max-width: 1200px;
  height: 700px;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.boca h2 {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.boca p {
  color: white;
  font-size: 19px;
  max-width: 530px;
}

.boca a {
  cursor: pointer;
  color: black;
  background: white;
  padding: 16px 30px;
  font-weight: 600;
  box-shadow: 1px solid white;
}

.boca a:hover {
  opacity: 60%;
}

/* SEGUNDA SECCION */

.section-two {
  background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/sportswear_SS_23_global_launch_hp_masthead_primary_d_e3c0c8622e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
}

.jenna {
  max-width: 1200px;
  height: 850px;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.jenna h2 {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.jenna p {
  color: white;
  font-size: 19px;
  max-width: 500px;
}

.jenna a {
  cursor: pointer;
  color: black;
  background: white;
  padding: 16px 30px;
  font-weight: 600;
  box-shadow: 1px solid white;
}

.jenna a:hover {
  opacity: 60%;
}

/* TERCERA SECCION */
.section-tree {
  background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/precios_justos_stm_d_5247922b0c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.precios {
  max-width: 1200px;
  height: 500px;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.precios h2 {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.precios p {
  color: white;
  font-size: 19px;
  max-width: 500px;
}

.precios a {
  cursor: pointer;
  color: black;
  background: white;
  padding: 16px 30px;
  font-weight: 600;
  box-shadow: 1px solid white;
}

.precios a:hover {
  opacity: 60%;
}

/* CUARTA SECCION */

.section-for {
  height: 200px;
  padding: 3em;
}

.container-title-s4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-title-s4 h3 {
  font-size: 15px;
  font-weight: 100;
}

.container-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 1rem;
  cursor: pointer;
}

.img-log-eq {
  width: 70px;
  height: 60px;
}

/* QUINTA SECCION */

.section-five {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-card-riv {
  max-width: 405px;
  cursor: pointer;
}

.container-prs-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.container-prs-info h3 {
  font-size: 15px;
  font-weight: 700;
  font-family: "Inclusive Sans", sans-serif;
}

.container-prs-info p {
  color: #383636;
}

.container-prs-info a {
  color: black;
  border-bottom: 2px solid black;
}

.container-prs-info a:hover {
  background: black;
  color: white;
}

/* SEXTA SECCION */
.section-six {
  margin-top: 100px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container-nov {
  display: flex;
  gap: 2rem;
  margin-left: 125px;
}

.section-six a {
  background: black;
  padding: 1rem;
  color: white;
  font-weight: 500;
  font-family: "Inclusive Sans", sans-serif;
}

.section-six a:hover {
  background: white;
  color: black;
  /* border: 1px solid black; */
  font-weight: 500;
}

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 1730px;
}

.container-card-cams-bc {
  width: 283px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-card-cams-bc:hover {
  border: 1px solid black;
}

.container-card-bc {
  position: relative;
}

.container-card-bc p {
  position: absolute;
  top: 260px;
  left: 12px;
  background: white;
  padding: 4px;
  border-radius: 10px;
}

.container-info-bc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  font-family: "Inclusive Sans", sans-serif;
}

.container-info-bc h4 {
  font-size: 15px;
  font-weight: 100;
  max-width: 250px;
}

.container-info-bc p {
  color: grey;
}

.container-info-bc b {
  font-weight: 200;
  font-size: 12px;
}
